<!DOCTYPE html>
<html>
<head>
    <meta charset=UTF-8>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/style.css" type="text/css" media="screen" />
    <link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="http://feeds.feedburner.com/devihned?format=xml" />
    <link rel="alternate" type="text/xml" title="RSS .92" href="http://feeds.feedburner.com/devihned?format=xml" />
    <link rel="alternate" type="application/atom+xml" title="Atom 0.3" href="http://feeds.feedburner.com/devihned?format=xml" />
    <meta name="msapplication-task" content="name=Redakční vývojáři Twitteru;action-uri=http://twitter.com/vyvojihned" />
    <meta name="msapplication-starturl" content="./" />
    <meta name="application-name" content="Vyvíjíme IHNED" />
    <meta name="msapplication-tooltip" content="Vyvíjíme IHNED" />
    <link rel='index' title='Vyvíjíme IHNED(.cz)' href='http://economia.github.io' />
    <script src="//use.edgefonts.net/dosis:n2,n3,n4,n5,n6,n7,n8:all;alegreya:n4,i4,n7,i7,n9,i9:all.js"></script> 
    <script type="text/javascript">
        window.google_analytics_uacct = "UA-190512-37";
    </script>
</head>
<body>
    <div id="container">
        <div id="blog_name">
            <a href="/">Vyvíjíme IHNED(.cz)</a></div>
        <div id="blog_slogan">
            Vyvíjíme redakční technologie pro IHNED.cz</div>
        <div id="menu_view">
            <ul>
                <li><a href="">Domů</a></li>
                <li class="page_item"><a href="/articles/" title="Články">
                    Články</a></li>
                <li class="page_item"><a href="http://ihned.cz/" title="IHNED.cz">
                    IHNED.cz</a></li>
            </ul>
        </div>
        <h1 id="header">
        </h1>
        <div id="wrapper">
            <div id="content">
                {{content}}
                <br />
                <br />
            </div>
        </div>
        <div id="sidebar">
            <br />
            <ul id="sidebar_main_menu">
                <li id="text-3" class="widget widget_text">
                    <div class="textwidget">
                        <p>
                            <a href="http://feeds2.feedburner.com/devihned" rel="alternate" type="application/rss+xml">
                                <img src="http://www.feedburner.com/fb/images/pub/feed-icon32x32.png" alt="" style="vertical-align: middle;
                                    border: 0" /></a>&nbsp;<a href="http://feeds2.feedburner.com/devihned" rel="alternate"
                                        type="application/rss+xml">Sledujte ve čtečce</a></p>
                    </div>
                </li>
                <li id="categories-1" class="widget widget_categories">
                    <h2 class="widgettitle">
                        Kategorie</h2>
                    <ul>
                        <li class="cat-item"><a href="/obecne.html"
                            title="Články z kategorie Obecně">Obecně</a>
                        </li>
                    </ul>
                </li>
                <li id="text-444566711" class="widget widget_text">
                    <h2 class="widgettitle">
                        Widgdey</h2>
                    <div class="textwidget">
                    </div>
                </li>
                <li id="text-315869281" class="widget widget_text">
                    <div class="textwidget">
                        <script type="text/javascript">
                            var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
                            document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
                        </script>
                        <script type="text/javascript">
                            try {
                                var pageTracker = _gat._getTracker("UA-190512-37");
                                pageTracker._trackPageview();
                            } catch (err) { }</script>
                    </div>
                </li>
            </ul>
        </div>
        <hr id="clear" />
    </div>
    <div id="footer">
        <div id="footer_text">
            <br />
            &copy; Copyright Redakční vývojáři IHNED.cz<br />
            This blog is powered by <a href="http://github.com/mojombo/jekyll/wiki">Jekyll</a>
        </div>
        <br />
    </div>
    <script type="text/javascript">
        var disqus_shortname = 'devihned';
        (function () {
            var s = document.createElement('script'); s.async = true;
            s.src = 'http://disqus.com/forums/devihned/count.js';
            (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
        } ());
    </script>
</body>
</html>
